.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
R-*
rpy2*
experiments/
Bag\ v\ Boost\ figs\ and\ data/
__pycache__/
plots/
img/
benchmark_results/
models/
img/
benchmark_results/
models/
__pycache__/
tensorboard_logs/
gurobi.log
.vscode/
*.out
Pipfile.lock
SPSAvFDSA_expt/
plots/
COBRANet
*Pipfile.lock
.vscode
.venv*
.DS_Store
env/
workdir
old_tests
.pytest_cache/
htmlcov/
.coverage
.env

# Ignore all data directories by default
**/data/

# Keep data directories within timed-hpc
!timed-hpc/**/data/
!timed-hpc/**/data/**